#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	mv debian/gyazo/usr/bin/gyazo.rb debian/gyazo/usr/bin/gyazo